.a{
    height: 100px;
    width: 960px;
    border: 1px solid;

}
.b{
    height: 600px;
    width: 200px;
    border: 1px solid;

}
.c{
    height: 200px;
    width: 380px;
    border: 1px solid;

}
.d{
    height:200px;
    width:380px;
    border: 1px solid;
}